@use "../utils/variables" as *;

*:where(*, *::before, *::after) {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-sans;
  background: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
}

:root {
  --bg: #{$bg};
  --fg: #{$fg};
  --muted: #{$muted};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --border: #{$border};
  --surface: #{$surface};
  --light-gray: #{$light-gray};
  --yellow-sun: #{$yellow-sun};
}

:root[data-theme="dark"] {
  --bg: #{$bg-dark};
  --fg: #{$fg-dark};
  --muted: #{$muted-dark};
  --primary: #{$primary};
  --border: #{$border-dark};
  --surface: #{$surface-dark};
  --light-gray: #{$light-gray-dark};
}
